h1{
  text-align: center;
}
.box{

}
.box1{
  text-align: center;
  width: 300px;
  height: 200px;
  position: relative;
  left:100px;
  top:  100px;
  border: 1px solid black;
  opacity: 0.5;
  box-shadow: 0px 0px 1px 1px black;
}
.box2{
  text-align: center;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 480px;
  top: 180px;
  border: 1px solid black;
  opacity: 0.5;
  box-shadow: 0px 0px 1px 1px black;
}
.box3{
  text-align: center;
  width: 300px;
  height: 200px;
  position: absolute;
  left:850px;
  top: 180px;
  border: 1px solid black;
  opacity: 0.5;
  box-shadow: 0px 0px 1px 1px black;
}
div h4{
   text-decoration: underline;
}
